<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://cdn.bootcss.com/vue/2.2.1/vue.js"></script>
</head>
<body>
    <div id="app">
        <h2>计算</h2>
        <form @change="inputChange">
            <div v-for="item,index in inputList">
                <span style="display: inline-block;width: 30px;">{{index+1}}: </span>
                <input style="width: 150px"
                    v-model="item.base"
                >
                <input style="width: 150px"
                    v-model="item.float"
                >
                <input style="width: 150px"
                    v-model="item.acc"
                >
                <input style="width: 150px"
                    v-model="item.free"
                >
                <span>{{item.tax}}</span>
                <span>{{item.mine}}</span>
            </div>
        </form>
        <button @click="saveLocal">save</button>
    </div>
    <script>
        let inputList = new Array(12).fill(1).map(v => {
            return {
                base: 0,
                float: 0,
                acc: 3963,
                free: 1500,
                tax: 0,
                mine: 0,
            }
        })
    
        let str = localStorage.getItem("ownData")
        if(str){
            inputList = JSON.parse(str);
        }
    
        new Vue({
            el: '#app',
            data(){
                return {
                    inputList: inputList,
                }
            },
            methods: {
                saveLocal(){
                    localStorage.setItem("ownData",JSON.stringify(this.inputList))
                    console.log(this.inputList)
                },
                inputChange(){
                    this.inputList = this.inputList.map((v, i) => {
                        let temp = this.calcTax(i)
                        console.log('temp', temp)
                        return {
                            ...v,
                            tax: Math.floor(temp*100)/100,
                            mine: Math.floor((v.base*1 + v.float*1 - v.acc*1 - temp*1)*100)/100,
                        }
                    })
                },
                calcTax(month){
                    let sumTax = 0;
                    let sumIn = 0;
                    let sumAcc = 0;
                    let sumFree = 0;
                    for(let i = 0; i <= month; i++){
                        const item = this.inputList[i];
                        if(i === 0){
                            sumTax = 0
                        }else{
                            sumTax = sumTax + this.inputList[i-1]['tax']*1
                        }
                        sumAcc += (+item.acc)
                        sumFree += (+item.free)
                        sumIn = sumIn + item.base*1 + item.float*1;
                    }
                    let t1 = sumIn - 5000*(month+1) - sumAcc - sumFree
                    let t2 = this.newTax(t1)
                    console.log(t1, t2)
                    return t1*t2[0]/100 - sumTax - t2[1];
                },
                newTax(value){
                    let money = [0, 36000, 144000, 300000, 420000, 660000]
                    let tax = [3, 10, 20, 25, 30]
                    let taxValue = [0, 2520, 16920, 31920, 52920]
                    for(let i = 0;i<money.length-1;i++){
                        if(money[i] < value && money[i+1] > value){
                            return [tax[i], taxValue[i]]
                        }
                    }
                    return [0, 0]
                }
            },
        })
    </script>
</body>
</html>